[include mainsail.cfg]
[include ADWER_Manta.cfg]
[include ADWER-EBB.cfg]


# host MCU service is preinstalled and ready to use with:
[mcu CB2]
serial: /tmp/klipper_host_mcu

[temperature_sensor Host]
sensor_type: temperature_host




###Depricated####
##[include generic-bigtreetech-xxx.cfg]
