[include mainsail.cfg]
[include MantaM8P.cfg]
[include EBBCan.cfg]

#Printer Main Settings
[printer]
kinematics: corexz
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# host MCU service is preinstalled and ready to use with:
[mcu CB2]
serial: /tmp/klipper_host_mcu

[temperature_sensor CB2]
sensor_type: temperature_host




###Depricated####
##[include generic-bigtreetech-xxx.cfg]
